@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");

/* -------- Basis ---------- */
:root {
  --dark-color: #23272b;
  --olive: #b2d3a6;
  --green: #00ba69;
  --darkGreen: #214f3d;
  --orange: #b55d47;
  --light-color: #ece7df;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--darkGreen);
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}
.curved-btn {
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  padding: 1rem 2rem;
}

/* loader https://codepen.io/mahdi/pen/ooKxaK?editors=1100 */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 999;
}

.hideLoader {
  display: none !important;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banana {
  padding: 30px;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 50%;
  background: white;
  float: left;
  margin: 50px 100px;
}
.banana::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s infinite ease-in-out;
}
.banana::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 50%;
  border: solid 2px #00ba69;
  top: 0;
  left: 0;
  animation: grow 1s 0.5s infinite ease-in-out;
}
.d {
  background: transparent;
}
.d::before {
  border: 2px dotted #00ba69;
  border-bottom: 4px solid #00ba69;
  border-top: 4px solid #00ba69;
  animation: spinning 1.5s infinite linear;
}
.d::after {
  animation: grow 2s 0.5s infinite ease-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes spinning {
  0% {
    transform: scale(1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
